h1 {
  background-color: #b8f1bb;
  text-align: center; 
  padding: 30px;
  margin: 0px;
}

h2 {
  display: inline-block;
}

h3 {
  text-align: center; 
}

.main {  
  margin: 0px auto;
  height: 400px;
  width: auto;
}

img {
  
  height: 400px;
  width: auto;
}

ul {
  display: block;
  list-style: none;

}

ol {
  background-color: #f5cdcd;
  padding: 30px;
}

.frontpage {
  font-size: 45px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-stretch: ultra-expanded;
}

.recipes {  
  background-color: #f5cdcd;
  padding: 30px;
  margin: 50px 0px;
}

p {
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-stretch: ultra-expanded;
  text-align: center;
}



button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 20px;
}